#crm-container .crm-contribution-main-form-block .credit_card_info-section .civicrmdesjardins-logodj,
#crm-container .crm-event-register-form-block .credit_card_info-section .civicrmdesjardins-logodj {
  float: right;
  background: url(images/desjardins.gif) no-repeat right 12px transparent;
  text-align: right;
  font-size: 70%;
  padding-bottom: 35px;
  width: 145px;
  /* margin-right: -5em; */ /* sinon pile sur icones visa/mc */
}

#crm-container .crm-contribution-main-form-block .credit_card_type-section,
#crm-container .crm-event-register-form-block .credit_card_type-section {
  padding-top: 20px;
}

#crm-container .crm-contribution-main-form-block .credit_card_type-section .label,
#crm-container .crm-event-register-form-block .credit_card_type-section .label {
  display: none;
}

#crm-container .crm-contribution-main-form-block .credit_card_type-section .content,
#crm-container .crm-event-register-form-block .credit_card_type-section .content {
  position: relative;
}

#crm-container .crm-contribution-main-form-block .credit_card_type-section .civicrmdesjardins-cclogo,
#crm-container .crm-event-register-form-block .credit_card_type-section .civicrmdesjardins-cclogo {
  position: absolute;
  top: 0;
  left: 0;
}

/* we have icons that allow to select the correct type of CC + auto-detection based on card type */
#crm-container .crm-contribution-main-form-block .credit_card_type-section select,
#crm-container .crm-event-register-form-block .credit_card_type-section select {
  display: none;
}

#crm-container .credit_card_type-section .civicrmdesjardins-cclogo .civicrmdesjardins-cclogo-visa {
  background: url(images/visa.gif) no-repeat 0 0 transparent;
  text-indent: -20000px;
  position: absolute;
  display: block;
  width: 37px;
  height: 21px;
  top: 2px;
  /* left: 115px; */
}

#crm-container .credit_card_type-section .civicrmdesjardins-cclogo .civicrmdesjardins-cclogo-mc {
  background: url(images/mastercard.gif) no-repeat 0 0 transparent;
  text-indent: -20000px;
  position: absolute;
  display: block;
  width: 37px;
  height: 21px;
  top: 2px;
  left: 40px; /* left: 155px; */
}

#crm-container .credit_card_type-section .civicrmdesjardins-cclogo .civicrmdesjardins-cclogo-amex {
  background: url(images/amex.gif) no-repeat 0 0 transparent;
  text-indent: -20000px;
  position: absolute;
  display: block;
  width: 37px;
  height: 21px;
  top: 2px;
  left: 80px; /* left: 195px; */
}

#crm-container .credit_card_type-section .civicrmdesjardins-cclogo span {
  display: none;
}

